// _variables.scss

// Primary Colors
$color-primary: #3378b8;
$color-secondary: #b87333;
$color-primary-hover: darken($color-primary, 10%);
$color-secondary-hover: darken($color-secondary, 10%);

// Dark
$color-primary-dark: darken($color-primary, 20%);
$color-secondary-dark: darken($color-secondary, 20%);

// Text Colors
$color-text-dark: #333;
$color-text-light: #fff;

// Border Colors
$color-border-dark: darken($color-primary, 10%);
$color-border-light: lighten($color-primary, 10%);

// Background Colors
$color-background-dark: darken($color-primary, 10%);
$color-background-light: lighten($color-primary, 10%);

// Sizes
$font-size-default: 1em;
$font-size-large: 1.25em;
$font-size-small: 0.8em;

// Spacing
$spacing-small: 0.5em;
$spacing-default: 1em;
$spacing-large: 2em;

// Border Radius
$border-radius-small: 0.25em;
$border-radius-default: 0.5em;
$border-radius-large: 1em;

// Other commonly used variables
$font-family-default: "Roboto", sans-serif;
