// app.scss

@import "variables"; // import the variables file

// Reset some basic elements
html,
body {
    padding: 0;
    margin: 0;
    font-family: $font-family-default;
    font-size: $font-size-default;
    color: $color-text-dark;
    background-color: $color-background-light;
}

// Apply some global styles
* {
    box-sizing: border-box;
}

// Remove all apperance from buttons
button {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

// Style the container
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: $spacing-default;
}

// Basic button styles
.button {
    display: inline-block;
    background-color: $color-secondary;
    color: $color-text-light;
    padding: $spacing-small $spacing-default;
    border-radius: $border-radius-small;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $color-secondary-hover;
    }
}

// Basic header styles
.header {
    background-color: $color-primary;
    padding: $spacing-default;
    color: $color-text-light;
}

// Basic styles for main content area
.main {
    padding: $spacing-large 0;
}
